.brands {
  position: relative;

  margin: {
    top: 150px;;
  }

  ul {
    @include zero-alignment;

    text: {
      align: center;
    }

    li {
      position: relative;

      display: inline-block;

      margin: 10px;

      a {
        img {
          width: 100px;
          height: 70px;
          padding: 0 20px;
        }
      }
    }

    li.active {
      &:after {
        @include to-the-bottom;
        left: 50%;

        display: block;

        width: 20px;
        height: 20px;
        margin: {
          bottom: -20px;
          left: -10px;
        }
        content: '';
        transform: rotate(45deg);

        background: #b3caff;
      }
    }
  }
}

.brand-description {
  position: relative;

  display: table;

  width: 70%;
  height: 100%;
  margin: 0 auto;

  background: #b3caff;

  p {
    display: table-cell;
  }

  @media (max-width: 780px) {
    width: 100%;
  }
}

.year-brand {
  font: {
    family: $open-sans-condensed;
    size: 24px;
    weight: bolder;
  }

  width: 270px;

  text: {
    align: center;
  }
  vertical: {
    align: middle;
  }
}

.brand-text {
  font: {
    family: $open-sans;
  }

  padding: 15px;

  border: 12px solid #b3caff;
  background: white;
}