.special-items {
  position: relative;

  margin: 0 auto;
  padding: 0;

  list-style: none;

  text: {
    align: center;
  }

  &:after {
    display: block;
    clear: both;

    content: '';
  }

  li {
    float: left;

    margin: 10px;
    button {
      margin-bottom: 20px;
    }
    p {
      font: {
        family: $open-sans;
        weight: bolder;
      }
    }
  }
}