@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?qdgu7u');
    src: url('/fonts/icomoon.eot?#iefixqdgu7u') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qdgu7u') format('truetype'),
    url('../fonts/icomoon.woff?qdgu7u') format('woff'),
    url('/fonts/icomoon.svg?qdgu7u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    /*speak: none;*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
    content: "\e600";
}

.icon-menu:after {
    content: "\e601";
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: #eaf5fe;
}

h1,
p {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.main-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../images/head.jpg");
    background-size: cover;
}

.main-header h1 {
    font-size: 60px;
    color: white;
    font-family: "Open Sans Condensed";
    font-weight: bold;
    text-align: center;
    padding: 0;
    /*margin: 0;*/

    position: absolute;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.main-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 255, 0.2);
    width: 100%;
    height: 100%;
}

.main-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 5000;
}

.main-nav ul {
    display: block;
    padding: 10px 0;
    /*list-style: none;*/
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    font-size: 16px;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 15px 15px;
}

.main-nav a:hover {
    color: deepskyblue;
    background: rgba(0, 0, 0, 0.2);
}

.mainSection {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.special-items {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.special-items:after {
    content: "";
    clear: both;
    display: block;
}

.special-items li {
    float: left;
    margin: 10px;
}

.special-items button {
    margin-bottom: 20px;
}

.customBtn {
    position: relative;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    border-radius: 2px;
    padding: 0 22px 0 44px;
    white-space: nowrap;
    background: rgb(234, 234, 234);
    border-color: rgba(0, 0, 0, 0.5);
}

.customBtn:before {
    content: "\e600";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid #858585;
    background: white;
    display: block;
    width: 22px;
    height: 22px;
}

.brands {
    position: relative;;
    margin-top: 100px;
    /*left: 0;*/
}

.brands ul {
    /*list-style: none;*/
    padding: 0;
    margin: 0;
    text-align: center;
}

.brands ul li {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.brands ul li.active:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    margin-bottom: -20px;
    bottom: 0;
    transform: rotate(45deg);
    display: block;
    left: 50%;
    margin-left: -10px;
    background: rgb(179, 202, 255);
}

.brands ul li img {
    width: 100px;
    height: 70px;
    padding: 0 20px;
}

.brandDescription {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    background: rgb(179, 202, 255);
    display: table;
}

.brandDescription p {
    display: table-cell;
}

.yearBrand {
    text-align: center;
    vertical-align: middle;
    width: 270px;
    font-weight: bold;
    font-size: 24px;
    font-stretch: condensed;
}

.brandText {
    border: 12px solid rgb(179, 202, 255);
    padding: 15px;
    background: white;
}

.googleMap {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 500px;
}

.contact {
    position: absolute;
    top: 50px;
    left: 70px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 4000;
    display: table;
    padding: 10px 30px;
}

.contact p {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
}

.contact p:first-child {
    font-weight: bold;
}

.address,
.phone {
    display: table-row;
}

address {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #CCC;
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: black;
}

.copyright {
    color: white;
    font-family: 'Open Sans Condensed';
    text-align: right;
    line-height: 40px;
    margin-right: 10px;
}

.fixedButton {
    position: fixed;
    height: 40px;
    top: 0;
}

.fixedNav {
    position: fixed;
    height: 80px;
    top: 0;
    background: rgb(179, 202, 255);
}

.fixedNav a {
    color: black;
}

.fixedNav a:hover {
    color: white;
}

.special {

}

.showButton {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    height: 40px;
    z-index: 6000;
    background: rgb(179, 202, 255);
    border: 0;
    white-space: nowrap;
    padding: 0 15px;
    margin: 0;
    line-height: 40px;
    text-align: left;
}

.showButton:after {
    position: relative;
    right: 0;
    padding-right: 10px;
}

.showButton:focus {
    border: 0;
    outline: none;
}

/*p {*/
/*font-family: 'Open Sans';*/
/*font-size: 16px;*/
/*font-style: normal;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*h1 {*/
/*text-transform: uppercase;*/
/*}*/

@media (max-width: 780px) {
    .showButton {
        display: block;
    }

    .fixedNav {
        height: 40px;
    }

    .brandDescription {
        width: 100%;
    }




    .main-nav {
        height: 40px;
    }

    .main-nav ul {
        position: relative;
        top: 40px;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        text-align: left;
        display: none;
        background: rgb(179, 202, 255);
    }

    .main-nav ul li {
        display: block;
    }

    .main-nav a {
        display: block;
    }

    .fixedNav a {
        color: white;
    }

    .fixedNav a:hover {
        color: deepskyblue;
    }

    .special {
        display: block;
    }
}